#root{
  width: 100%;
  height: 100%;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  width: 25%;
  height: 400px;
  background: orange;
  border-radius: 20px;
}

:focus-visible {
  outline: unset;
}

.Weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

input[type="search"] {
  border: orange;
  padding: 12px;
  border-radius: 50px;
  text-align: center;
  background: #fff;
}

.street {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 45px;
}

.tempt {
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.min_max {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 14px;
}

